[user]
	name = robertopc
	email = robertopc.prog@gmail.com

[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore

[alias]
	logone = log --oneline
	up=push
	down=pull

[hub]
	protocol = ssh
	
[credential]
	helper = cache
